<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Form</title>
</head>
<body>
    <h3> Employee Form </h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        {% for field in form %}
            <div>
                {{ field.error }}
                {{ field.label }} {{ field }}
            </div>
        {% endfor %}
        <div>
            {{ form.name.errors }}
            <label for="{{form.name.id_for_label}}" >{{form.name.label}} </label>
            <input name="form-name" id="id_form-name" class="class_form-name" />
            {{ form.name }}
        </div>
        <input type='submit' name="Submit" />
    </form>
</body>
</html>